<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.sass">
    <link rel="stylesheet" href="/node_modules/bootstrap/scss/bootstrap.scss">
    <title>Progetto</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Ciao</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1>Come va?</h1>
    </main>
    <footer>

    </footer>
</body>

</html>